:root{
    --primary: #49bc85;
    --secondary: #f3f7f7;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    display: block;
}
/* Category Links style */
.category-links{
    margin: 2em auto 0;
    overflow: hidden;
    max-width: 100%;
}
.category-links ul{
    border: 2px solid gray;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
}
.category-links ul li {
    margin: 8px 5px;
    display: inline-block;
    border: 5px solid var(--secondary);
}
.category-links ul li a{
    color: #000;
}
.boldCategoryLinks{
    font-weight: 600;
}
.category-links ul li a:hover{
    color: var(--primary);
}

/* current category  */
.current-category{
    margin-left: 2em;
}
/* Product Grid Style*/

.product-grid{
    margin: 0 2em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.card img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}

/* small mobile devices */
@media (max-width: 415px){
    .product-grid{
        margin: 0 1em;
        grid-template-columns: repeat(auto-fit, minmax(130px, 1fr));
    }
}