:root{
    --primary: #49bc85;
    --secondary: #f3f7f7;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    display: block;
}
/* Category Links style */
.category-links{
    margin: 2em auto 0;
    overflow: hidden;
    max-width: 100%;
}
.category-links ul{
    border: 2px solid gray;
    width: 90%;
    margin: 0 auto;
    padding: 0.5em;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    align-content: center;
    justify-content: center;
    text-align: center;

}
.category-links ul li {
    margin: 0 1em 15px;
    text-align: center;
}
.category-links ul li a{
    color: #000;
}
.category-links ul li a:hover{
    color: var(--primary);
}

/* current category  */
.current-category{
    margin-left: 2em;
}
/* Product Grid Style*/

.product-grid{
    margin: 0 2em;
    display: grid;
    gap: 1em;
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}
.card{
}
.card img{
    width: 100%;
    aspect-ratio: 1 / 1;
    object-fit: cover;
}