:root{
    --primary: #49bc85;
    --secondary: #f3f7f7;
    overflow-x: hidden;
}
img{
    max-width: 100%;
    display: block;
}
/* current-product  */
.current-product{
    width: 90%;
    margin: 2em auto 0;
}
/* Product detail style */
.product-detail-container{
    width: 90%;
    margin: 0 auto;
    display: grid;
    grid-template: 
    "picture title"
    "info info"
    / 40% 1fr;
    align-items: center;
    column-gap: 20px;
}
.product-picture{
    grid-area: picture;
}
.product-text{
    grid-area: title;
}
.additional-information{
    grid-area: info;
}
/* Qc Pictures */
#qc-section{
    width: 90%;
    margin: 0 auto;
}
.qc-img-container img{
    margin: 20px 5px;
    border-bottom: 1.5px solid #A3A3A3;
    padding-bottom: 5px;
}
/* Style for the share button */
.share-button {
    background: none;
    border: none;
    cursor: pointer;
    display: inline-flex;
    align-items: center;
    margin-left: 8px; /* Space between text and icon */
}

  /* Style for the share icon */
.share-icon {
    width: 16px;
    height: 16px;
    transform: scale(1.5);
}
